<div id="top-div">
<h1>Authors</h1>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="id" />
               <label for="fname">First Name: </label>
            </td>
            <td width=250px>
               <input type="text" id="formFname" name="fname"/>
            </td>
            <td>
               <label for="lname">Last Name: </label>
            </td>
            <td width=250px>
               <input type="text" id="formLname" name="lname"/>
            </td>
         </tr>
         <tr>
            <td colspan="4" align="center">
               <button id="formBtn" type="button">Add</button>
               <button id="resetBtn" type="button">Reset</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Number of Books</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.first_name}}</td>
               <td>{{this.last_name}}</td>
               <td><a href="/book/?a={{this.id}}">{{this.books_by_author}}</a></td>
               <td>
                  <button type="button" onclick="editRow({{this.id}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="/js/author.js"></script>