<div id="top-div">
<h1>Title{{this.title}}</h1>
<h3>({{this.isbn}}ISBN)</h3>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="id"/>
               <label for="topic">Topic to Add: </label>
            </td>
            <td width=250px>
               <select id="formTopic" name="topic"/>
                  <option disabled selected value></option>
                  <option name="topic" value="topic id">Topic Category</option>
               </select>
            </td>
         </tr>
         <tr>
            <td colspan="2" align="center">
               <button id="formBtn" type="button" style="width:150px;">Add to Book</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>Topic Category</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      <tr id={{this.id}}>
         <td>Topic Category</td>
         <td>Topic Description</td>
         <td>
            <button type="button" style="width:150px;" onclick="DeleteRow({{this.isbn}}, {{this.id}})">Remove Topic</button>
         </td>
      </tr>
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.topic}}</td>
               <td>{{this.category}}</td>
               <td>
                  <button type="button" onclick="deleteRow({{this.isbn}}, {{this.id}})">Remove Topic</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>