<div id="top-div">
<h1>Books</h1>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <label for="isbn">ISBN: </label>
            </td>
            <td colspan="3" align="center">
               <input type="text" id="formISBN" name="isbn"/>
            </td>
            <td>
               <label for="topic">Primary Topic: </label>
            </td>
            <td width=250px>
               <select id="formTopic" name="topic"/>
                  <option disabled selected value></option>
                  <option name="topic" value="topic id">Topic Category</option>
               </select>
            </td>
            <td>
               <label for="shelf">Shelf: </label>
            </td>
            <td width=250px>
               <select id="formShelf" name="shelf"/>
                  <option disabled selected value></option>
                  <option name="shelf" value="shelf id">Shelf Location</option>
               </select>
            </td>
         </tr>
         <tr>
            <td>
               <label for="date">Published Date: </label>
            </td>
            <td>
               <input type="date" id="formDate" name="date"/>
            </td>
            <td>
               <label for="title">Title: </label>
            </td>
            <td colspan="3">
               <input type="text" id="formTitle" name="title"/>
            </td>
            <td>
               <label for="author">Author(s): </label>
            </td>
            <td rowspan="4">
               <select multiple id="formBookAuthor" name="author"/>
                  <option name="author" value="author id">Author Name</option>
                  <option name="author" value="author id2">Author Name2</option>
               </select>
            </td>
         </tr>
         <tr>
            <td>
               <label for="description">Description: </label>
            </td>
            <td colspan="6" rowspan="3">
               <input type="textarea" id="formdescription" name="weight"/>
            </td>
         </tr>
         <tr>
         </tr>
         <tr>
         </tr>
         <tr>
            <td colspan="8" align="center">
               <button id="formBtn" type="button">Add</button>
               <button id="resetBtn" type="button">Reset</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>isbn</th>
      <th>Title</th>
      <th>Date Published</th>
      <th>Description</th>
      <th>Authors</th>
      <th>Topic</th>
      <th>Shelf</th>
      <th>Status</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.isbn}}>
               <td>{{this.isbn}}</td>
               <td>{{this.title}}</td>
               <td>{{this.published_date}}</td>
               <td>{{this.description}}</td>
               <td>{{this.authors}}</td>
               <td>{{this.category}}</td>
               <td>{{this.location}}</td>
               <td>{{#if this.checked_out}}unavailable{{else}}available{{/if}}</td>
               <td>
                  <button type="button" onclick="editRow({{this.isbn}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.isbn}})">Delete</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>