<div id="top-div">
<h1>{{this.first_name}} {{this.last_name}}</h1>
<h3>({{this.id}})</h3>
<br>
</div>
<table>
   <thead>
      <th>isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Shelf</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.isbn}}>
               <td>{{this.isbn}}</td>
               <td>{{this.title}}</td>
               <td>{{this.authors}}</td>
               <td>{{this.location}}</td>
               <td>
                  <button type="button" onclick="checkIn({{this.isbn}})">Check In</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="/js/detail.js"></script>