<div id="top-div">
<h1>Checkout</h1>
<h3>{{this.first_name}} {{this.last_name}} ({{this.id}})</h3>
<form method="get" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="r" value="{{this.id}}"/>
               <input type="text" id="formSearch" name="s"/>
            </td>
         <tr>
            <td align="center">
               <button id="searchBtn" type="button">Search</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<h3><i>{{this.searchTerm}}</i></h3>
<table>
   <thead>
      <th>isbn</th>
      <th>Title</th>
      <th>Date Published</th>
      <th>Description</th>
      <th>Authors</th>
      <th>Topic</th>
      <th>Shelf</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.isbn}}>
               <td>{{this.isbn}}</td>
               <td>{{this.title}}</td>
               <td>{{this.published_date}}</td>
               <td>{{this.description}}</td>
               <td>{{this.authors}}</td>
               <td>{{this.category}}</td>
               <td>{{this.location}}</td>
               <td>
                  <button type="button" onclick="checkOut({{this.isbn}})">Check Out Book</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="/js/checkout.js"></script>