<div id="top-div">
<h1>first name{{this.first_name}}, last name{{this.last_name}}</h1>
<h3>({{this.id}}reader id)</h3>
<br>
</div>
<table>
   <thead>
      <th>isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Shelf</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      <tr>
         <td>isbn</td>
         <td>title</td>
         <td>comma separted list of authors</td>
         <td>shelf</td>
         <td>
            <button type="button" onclick="checkIn({{this.isbn}}, {{this.id}})">Check In</button>
         </td>
      </tr>
      {{#if results}}
         {{#each results}}
            <tr id={{this.isbn}}>
               <td>{{this.isbn}}</td>
               <td>{{this.title}}</td>
               <td>{{this.authors}}</td>
               <td>{{this.shelf}}</td>
               <td>
                  <button type="button" onclick="checkIn({{this.isbn}}, {{this.id}})">Check In</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>