<div id="top-div">
<h1>Readers</h1>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="id" />
               <label for="fname">First Name: </label>
            </td>
            <td colspan="2">
               <input type="text" id="formFname" name="fname"/>
            </td>
            <td>
               <label for="lname">Last Name: </label>
            </td>
            <td colspan="2">
               <input type="text" id="formLname" name="lname"/>
            </td>
         </tr>
         <tr>
            <td>
               <label for="phone">Phone Number: </label>
            </td>
            <td colspan="3">
               <input type="text" id="formPhone" name="phone"/>
            </td>
            <td>
               <label for="expdate">Card Expiration: </label>
            </td>
            <td>
               <input type="date" id="formExpdate" name="expdate"/>
            </td>
         </tr>
         <tr>
            <td colspan="6" align="center">
               <button id="formBtn" type="button">Add</button>
               <button id="resetBtn" type="button">Reset</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>Reader ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Card Expiration Date</th>
      <th>Books Checked Out</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      <tr>
         <td>id</td>
         <td>first_name</td>
         <td>this.last_name</td>
         <td>this.phone</td>
         <td>this.card_expiration</td>
         <td><a href="/book">count of books checked out (hyperlink)</a></td>
         <td>
            <button type="button" onclick="editRow({{this.id}})">Edit</button>
            <button type="button" onclick="checkIn({{this.id}})">Check In</button>
            <button type="button" onclick="checkOut({{this.id}})">Check Out</button>
            <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
         </td>
      </tr>
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.id}}</td>
               <td>{{this.first_name}}</td>
               <td>{{this.last_name}}</td>
               <td>{{this.phone}}</td>
               <td>{{this.card_expiration}}</td>
               <td>Add books checked out count hyperlink</td>
               <td>
                  <button type="button" onclick="editRow({{this.id}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>