<div id="top-div">
<h1>Shelves</h1>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="id" />
               <label for="location">Shelf Location: </label>
            </td>
            <td width=250px>
               <input type="text" id="formLocation" name="location"/>
            </td>
         </tr>
         <tr>
            <td colspan="2" align="center">
               <button id="formBtn" type="button">Add</button>
               <button id="resetBtn" type="button">Reset</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>Location</th>
      <th>Books on Shelf</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.location}}</td>
               <td><a href="/book/?l={{this.id}}">{{this.books_on_shelf}}</a></td>
               <td>
                  <button type="button" onclick="editRow({{this.id}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>