<div id="top-div">
<h1>Topics</h1>
<p id="errorMsg"></p>
<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <input type="hidden" id="formId" name="id" />
               <label for="topic">Topic: </label>
            </td>
            <td>
               <input type="text" id="formTopic" name="topic"/>
            </td>
            <td>
               <label for="description">Description: </label>
            </td>
            <td rowspan="3">
               <input type="textarea" id="formDescription" name="description"/>
            </td>
         </tr>
         <tr></tr>
         <tr></tr>
         <tr>
            <td colspan="4" align="center">
               <button id="formBtn" type="button">Add</button>
               <button id="resetBtn" type="button">Reset</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>
</div>
<table>
   <thead>
      <th>Topic</th>
      <th>Description</th>
      <th>Books on Topic</th>
      <th>Options</th>
   </thead>
   <tbody id="data-table">
      <tr id={{this.id}}>
               <td>category</td>
               <td>description</td>
               <td><a href="/book">count of books (hyperlink)</a></td>
               <td>
                  <button type="button" onclick="editRow({{this.id}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
               </td>
            </tr>
      {{#if results}}
         {{#each results}}
            <tr id={{this.id}}>
               <td>{{this.category}}</td>
               <td>{{this.description}}</td>
               <td>Add book count hyperlink</td>
               <td>
                  <button type="button" onclick="editRow({{this.id}})">Edit</button>
                  <button type="button" onclick="deleteRow({{this.id}})">Delete</button>
               </td>
            </tr>
         {{/each}}
      {{/if}}
   </tbody>
</table>

<script src="js/actions.js"></script>